<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <html lang="nl">
    <title>werktijden</title>
    <link rel="stylesheet" href="/style.css" />
    <script defer src="script.js"></script>
</head>

<nav class="navbar">
    <div class="navbar-logo">
    <img src="./werktijden-nl.webp" alt="logo werktijden"></a>
    </div>
    <a href="inklokken">Uitklokken</a>
    </div>
  </nav>
<body>