:root {
    --werktijdengroen: #059669;
    --wit: #FFFFFF
}

body {
    margin: 0;
  }
  
  .navbar {
    background-color: var(--werktijdengroen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-logo {
    text-align: center;
    flex-grow: 1;
  }
  
  .navbar-logo img {
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: var(--wit);
    text-decoration: none;
    margin: 0 10px;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-links {
      margin-top: 10px;
    }
  
    .navbar-links a {
      margin: 5px;
    }
  }
  